<nav class="navbar is-header is-flex is-align-items-center is-justify-content-center"
     role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item has-text-white">
      <fa-icon [icon]="faNewspaper" class="icon fa-lg far m-2"></fa-icon>
      <span class="m-2">To Fake or not to Fake !</span>
    </div>
  </div>
</nav>
