<div class="box">
  <div class="is-flex is-flex-direction-row">
    <img class="m-2" src="{{searchObject.imageUrl}}" alt="image of {{searchObject.title}}">
    <div class="m-2">
      <p>{{searchObject.title}}</p>
      <a href="{{searchObject.link}}" target="_blank">{{searchObject.link}}</a>
    </div>
  </div>
  <p>{{searchObject.description}}</p>
</div>
