.has-margins
  margin-right: 5vw
  margin-left: 5vw
.has-left-margin
  margin-left: 5vw
.has-style
  color: white
  font-size: 4vh
  font-weight: bold
.is-fixed
  width:  200px
  border-radius: 10px
.has-top-margin
  margin-top: 5vh
