<div class="has-margins has-top-margin">
  <form [formGroup]="articleForm">
    <div class="field">
      <label class="label">Title</label>
      <div class="control has-icons-left has-icons-right">
        <input formControlName="title" class="input" type="text" placeholder="e.g. History of Christmas">
        <span class="icon is-small is-left">
        <fa-icon [icon]="faBook" class="fas"></fa-icon>
      </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Author</label>
      <div class="control has-icons-left has-icons-right">
        <input formControlName="author" class="input" type="text" placeholder="History.com Editors">
        <span class="icon is-small is-left">
        <fa-icon [icon]="faUser" class="fas"></fa-icon>
      </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Article</label>
      <textarea formControlName="article" class="textarea" placeholder="The middle of winter has long been a time of celebration around the world. Centuries before the arrival of the man called Jesus, early Europeans celebrated light and birth in the darkest days of winter. Many peoples rejoiced during the winter solstice, when the worst of the winter was behind them and they could look forward to longer days and extended hours of sunlight."></textarea>
    </div>

    <label class="checkbox">
      <input type="checkbox" formControlName="isFake">
      Is Fake
    </label>

    <div class="field is-flex is-justify-content-center">
      <div *ngIf="articleForm.valid" (click)="submit()" class="control">
        <button  class="button is-link">Submit</button>
      </div>
      <div (click)="clear()" class="control has-left-margin">
        <button class="button is-link is-light">Clear</button>
      </div>
    </div>
  </form>


  <div class="is-flex is-flex-direction-column has-top-margin">
    <div [style.backgroundColor]="currentColor" class="has-text-centered is-align-self-center is-fixed">
        <label class="has-style">{{score}}</label>
    </div>

    <h2 class="has-text-centered title" *ngIf="searchObjects.length > 0">Other news related to it</h2>
    <ul>
      <li *ngFor="let searchObject of searchObjects">
        <app-search-object [searchObject]="searchObject">

        </app-search-object>
      </li>
    </ul>

  </div>


</div>
